* {
  box-sizing: border-box;
}
html {
  background-color: pink;
}
.box-orange {
  border: 20px solid red;
  width: 500px;
  height: 500px;
  background-color: orange;
}
.box-yellow {
  border: 20px solid blue;
  width: 450px;
  height: 450px;
  background-color: yellow;
}
